<link rel="import" href="../../../bower_components/polymer/polymer.html">


<dom-module id="cmpp-view-asset-link">
    <style>
            a{
                cursor: pointer;
            }
    </style>

    <template>
        
<!--    <template is="dom-if" if="{{!loading}}">-->

        <cmpp-href rel="assets:view-id" params="[[_params(asset)]]" href="{{viewAssetHref}}" relations="[[config.relations]]"></cmpp-href>
        <a href$="[[viewAssetHref]]">[[asset.MaterialID]] ([[asset.CmppId]])</a>
            
<!--        </template>-->
        
    </template>
    
</dom-module>

<script>
    Polymer({
        is: 'cmpp-view-asset-link',
        
        properties: {
            asset: {
                type: Object,
                value: {},
                observer: '_assetChanged'
            },
            
            viewAssetHref: {
                type: String
            },
            
            config: {
                type: Object,
                observer: 'configchanged'
            },

            relatedAsset: {
                type: Object,
                observer: '_relatedAssetChanged'
            }
        },

        _x: function(data) {
//            console.log(data);
        },
        
        configchanged: function () {
//            console.log(this.config);
        },

        _params : function(relatedAsset) {
//            console.log(relatedAsset._links);
            try {
                return {
                    id: encodeURIComponent(btoa(relatedAsset._links.self.href))
                };
            } catch(err) {
                return null;
            }
        },
        
        _taskLoaded: function () {
            if (this.task._embedded) {
                this._assetUrl = ""
    //            console.log(this.task.TaskTypeName);
                if ( 'cmpp:taskparams' in this.task._embedded) {
                    this._assetUrl = this.task._embedded['cmpp:taskparams'][0]._links['cmpp:asset'].href;
                }
            }
        },
        
        
        _assetChanged: function () {
//            console.log(this.asset);
        },

        _relatedAssetChanged: function(relatedAsset) {
            //console.log('Asset Changed ... ');
            //console.log(relatedAsset);
        },
        
         _hasAsset: function (task, asset) {
//             console.log(asset != {});
             return asset != {};
        },

    });

</script>
