<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../elements/ui/cmpp-task-graph.html">

<dom-module id="cmpp-task-detail">
<style>
    :host .task-info {
        margin-bottom: 10px;
        padding: 10px 0px;
    }
    
    :host table.chain tbody tr {
        height: 58px;
    }
    
    table.chain td {
        vertical-align: middle;
    }
    
    h1 {
        max-width: 80%;
        overflow: hidden;
    }
    
    cmpp-table-container {
        border: 1px solid #E1E1E1;
        border-radius: 5px;
    }

    paper-button.alert {
        padding:8px 20px;
        background-color: #E91E63;
        color: white;
        --paper-button-raised-keyboard-focus: {
            background-color: #E91E63;
            color: white !important;
        };
    }

    paper-button.alert:hover {
        background-color: #C2185B;
    }

    paper-button.warning {
        padding:8px 20px;
        background-color: #4CAF50;
        color: white;
        --paper-button-raised-keyboard-focus: {
            background-color: #E91E63;
            color: white !important;
        };
    }

    paper-button.warning:hover {
        background-color: #388E3C;
    }

    paper-button.alert.muted {
        padding:8px 20px;
        background-color: #9E9E9E;
        color: white;
        --paper-button-raised-keyboard-focus: {
            background-color: #9E9E9E;
            color: white !important;
        };
    }

    paper-button.alert.muted:hover {
        background-color: #607D8B;
    }

    paper-button {
        position:relative;
        top:10px;
    }
    .action_buttons {
        position:relative;
        left:-5px;
    }
    paper-dialog {
        z-index:999999;
        width:500px;
    }

    paper-dialog paper-button {
        top:0;
    }
</style>

<template>
    <cmpp-table-container>
        <table class="chain">
        <thead>
            <tr><td colspan="10"></td></tr>
            <tr><td></td><td colspan="10"></td></tr>
            <tr>
                <th style="position: relative; padding-right:10px; " width="{{_widthWithPadding(cwidth)}}px">
                    <cmpp-task-graph tasks="[[tasks]]"
                    canvas-width="{{cwidth}}"
                    ordered-tasks="{{tasksOr}}"
                    ordered-tasks="{{orderedTasks}}"
                    style="position: absolute;top: -28px;"></cmpp-task-graph>
                </th>
            <th>Name</th>
            <th>Task IdD</th>
            <th>Details</th>
            <th>Task Type</th>
            <th>Progress</th>
            <th>Cluster</th>
            <th>Started</th>
            <th colspan="3">Ended</th>               
            </tr>
        </thead>

        <tbody style="background: #fff">
            <template is="dom-repeat" items="{{tasksOr}}">
                <tr is="cmpp-table-subtask" subtask="[[item]]"></tr>
            </template>
        </tbody>
        <tfoot>
            <tr><td></td><td colspan="10"></td></tr>
            <tr><td></td><td colspan="10">&nbsp;</td></tr>
        </tfoot>
        </table>
    </cmpp-table-container>
  </template>
</dom-module>
<script>
    Polymer({
        is: 'cmpp-task-detail',

        properties: {
            orderedTasks: {
                type: Object,
                notify: true,
            },
            task: {
                type: Object,
                value: {},

            },
            attributes: {
                type: Object,
                observer: 'attChanged'
            },
            tasks: {
                type: Object
            },
            taskUri: {
                type: String
            },
            url: {
                type: String,
                notify: true,
            },
            extendedQuery: {
                type: Object,
                notify: true,
                computed: 'getQueryParams(query, url)'
            },
            enabled: {
                type: Boolean,
                notify: true,
                value: false
            },
            displayLongDate: {
                type: Boolean,
                value: false,
                readOnly: true,
            }
        },

        attChanged: function() {
            //console.log(this.attributes);
        },

        _widthWithPadding: function(size) {
            return size + 30;
        },

        _toggleLongDate: function() {
            this._setDisplayLongDate(!this.displayLongDate);
        },

        _formatTime: function(time, displayLongDate) {
            return time;
            if (displayLongDate) {
                return this.longTime(time);
            }
            return this.timeFromNow(time);
        },

        _formatTimeInv: function(time, displayLongDate) {
            return this._formatTime(time, !displayLongDate);
        },

        refreshIcon: function(loading) {
            return loading ? 'fa-spinner fa-spin' : ' fa-refresh';
        },
        
        getQueryParams: function(query, url) {
            query = _.clone(query);
            query.taskId = btoa(url);
            return query;
        }
    });

</script>